body { color: #fff; background: #000; font-size: 1.2em; text-align: center;font-family: courier; margin:1em; padding:0;}
input { border: 1px solid #fff; color: #fff; background: #000; font-family: courier; font-size: 1.5em; }
svg { height: auto; max-width: 100%; width: 200px; }
h1,h2,h3,h4,h5,h6 { font-family: 'Cinzel', serif; font-weight: normal; }
a { color: #fff }
a:hover { opacity: .9; }
.auto-resizable-iframe {
  max-width: 800px;
  width: 100%;
  margin: 0px auto;
}

.auto-resizable-iframe > div {
  position: relative;
  padding-bottom: 75%;
  height: 0px;
}

.auto-resizable-iframe iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

figure {
	margin: 0 auto;
}
blockquote {
	font-size: 2em;
	font-family: 'Cinzel', serif;
	margin: .2em auto;
	max-width: 600px;
}
#mc_embed_shell {
	margin: 5em 0;
}
legend {
	margin-bottom: 1em;
}
.videos {
	margin: 10em auto;
	max-width: 1800px;
}
.press {
    margin: 0 auto;
    max-width: 80ch;
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    text-align: center;
}
h2 {
    margin-top: 2em;
}